<footer class="footer">
    <div class="container">
        <div class="row g-3">
            <div class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="footer__list">
                    <h2 class="footer__list-heading">About Us</h2>

                    <ul class="footer__list-item">
                        <li>
                            <a href="">About us</a>
                        </li>
                        <li>
                            <a href="">News</a>
                        </li>
                        <li>
                            <a href="">Support</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="footer__list">
                    <h2 class="footer__list-heading">Service</h2>

                    <ul class="footer__list-item">
                        <li>
                            <a href="">Help Center</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">How to buy</a>
                        </li>
                        <li>
                            <a href="">Terms of use</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="footer__list">
                    <h2 class="footer__list-heading">Payment</h2>

                    <div class="footer__list-payment">
                        <a href="">
                            <img src="./assets/images/home/img-payment-1.png" alt="img-payment">
                        </a>

                        <a href="">
                            <img src="./assets/images/home/img-payment-2.png" alt="img-payment">
                        </a>

                        <a href="">
                            <img src="./assets/images/home/img-payment-3.png" alt="img-payment">
                        </a>

                        <a href="">
                            <img src="./assets/images/home/img-payment-4.png" alt="img-payment">
                        </a>

                        <a href="">
                            <img src="./assets/images/home/img-payment-5.png" alt="img-payment">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="footer__list">
                    <h2 class="footer__list-heading">Follow Us</h2>

                    <ul class="footer__list-item">
                        <li class="footer__list-item-follow">
                            <img src="./assets/images/home/img-follow-us-1.png" alt="img-follow-us">
                            <a href="">Facebook</a>
                        </li>
                        <li class="footer__list-item-follow">
                            <img src="./assets/images/home/img-follow-us-2.png" alt="img-follow-us">
                            <a href="">LinkedIn</a>
                        </li>
                        <li class="footer__list-item-follow">
                            <img src="./assets/images/home/img-follow-us-3.png" alt="img-follow-us">
                            <a href="">Instagram</a>
                        </li>
                        <li class="footer__list-item-follow">
                            <img src="./assets/images/home/img-follow-us-4.png" alt="img-follow-us">
                            <a href="">Zalo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="footer__list">
                    <h2 class="footer__list-heading">Company</h2>

                    <p class="footer__list-hotline">Hotline: 0982636800 (Các ngày trong tuần từ 8h đến 24h)</p>
                    <p class="footer__list-email">Email:hoantn@fullstack.com.vn</p>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="footer__list">
                    <h2 class="footer__list-heading">Certification</h2>

                    <div class="footer__list-certification">
                        <a href="">
                            <img src="./assets/images/home/img-certification-1.png" alt="img-payment">
                        </a>

                        <a href="">
                            <img src="./assets/images/home/img-certification-2.png" alt="img-payment">
                        </a>

                        <a href="">
                            <img src="./assets/images/home/img-certification-3.png" alt="img-payment">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>