<header class="header">
    <!-- <div class="header__inner">

    </div> -->
    <div class="header__wrapper-top">
        <div class="container">
            <div class="header__info">
                <p class="header__info-about">Về chúng tôi</p>

                <div class="header__info-actions">
                    <span>Trung tâm hỗ trợ</span>
                    <span>ENG</span>

                    <div class="header__info-account">
                        <img src="./assets/images/home/img-avatar.png" alt="avatar">
                        <span>Tài khoản</span>

                        <ul class="header__info-account-actions">
                            <li>
                                <a href="/sign-in">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="/sign-up">Đăng xuất</a>
                            </li>
                            <li>
                                <a href="/collection">Sản phẩm</a>
                            </li>
                            <li>
                                <a href="/payment">Thanh toán online</a>
                            </li>
                            <li>
                                <a href="/account">Thông tin người dùng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__wrapper-bottom">
        <div class="container">
            <div class="header__search">
                <div class="header__search-logo">
                    <a href="/">
                        <img src="./assets/images/home/img-logo.png" alt="logo">
                    </a>
                </div>

                <div class="header__search-input">
                    <select name="products" id="categories">
                        <option value="saab">All categories</option>
                        <option value="mercedes">Game Cards</option>
                        <option value="audi">Payment Cards</option>
                        <option value="audi">Gift Cards</option>
                        <option value="audi">Game Console</option>
                        <option value="audi">Game CD-Key</option>
                    </select>

                    <input type="text" placeholder="Search">
                    <button>
                        <img src="./assets/images/home/img-search.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="header__wrapper-nav">
        <div class="container">
            <div class="header__nav-inner">
                <div class="header__nav-left">
                    <div class="header__nav-item">
                        <a href="/">Trang chủ</a>
                    </div>

                    <div class="header__nav-item">
                        <a href="/">Thẻ điện thoại</a>
                        <img src="./assets/images/home/img-arrow-down-grey.png" alt="arrow-down-grey">
                    </div>

                    <div class="header__nav-item">
                        <a href="/">Nạp game</a>
                        <img src="./assets/images/home/img-arrow-down-grey.png" alt="arrow-down">
                    </div>
                </div>

                <div class="header__nav-right">
                    <img src="./assets/images/home/img-call.png" alt="call">
                    <a href="tel:1920010800">Hotline: 1920010800</a>
                </div>
            </div>
        </div>
    </div>
</header>