<header class="header-account">

    <div class="header-account__wrapper-bottom">
        <div class="container">
            <div class="header-account__search">
                <div class="header-account__search-logo">
                    <a href="/">
                        <img src="./assets/images/home/img-logo-2.png" alt="logo">
                    </a>
                </div>

                <div class="header-account__search-input">
                    <select name="products" id="categories">
                        <option value="saab">All categories</option>
                        <option value="mercedes">Game Cards</option>
                        <option value="audi">Payment Cards</option>
                        <option value="audi">Gift Cards</option>
                        <option value="audi">Game Console</option>
                        <option value="audi">Game CD-Key</option>
                    </select>

                    <input type="text" placeholder="Search">
                    <button>
                        <img src="./assets/images/home/img-search.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="header-account__wrapper-nav">
        <div class="container">
            <div class="header-account__nav-inner">
                <div class="header-account__nav-left">
                    <div class="header-account__nav-item">
                        <a href="/">Trang chủ</a>
                    </div>

                    <div class="header-account__nav-item">
                        <a href="/">Thẻ điện thoại</a>
                        <img src="./assets/images/home/img-arrow-down-grey.png" alt="arrow-down-grey">
                    </div>

                    <div class="header-account__nav-item">
                        <a href="/">Nạp game</a>
                        <img src="./assets/images/home/img-arrow-down-grey.png" alt="arrow-down">
                    </div>
                </div>

                <div class="header-account__nav-right">
                    <img src="./assets/images/home/img-call.png" alt="call">
                    <a href="tel:1920010800">Hotline: 1920010800</a>
                </div>
            </div>
        </div>
    </div>
</header>